/* TP-CHECK: 1.3 | Rodrigo-Solange | flex-wrap hace: Permite que los elementos dentro de un contenedor se acomoden en varias líneas cuando no entran en una sola fila, para evitar que se desborden el contenedor.*/

/* REQ-1.3.11 */
:root {
    --color-primario: #b05177;
    --color-fondo: #f7a1c3;
    --color-texto: #000000;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
}

/* REQ-1.3.1 y REQ-1.3.2 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

/* REQ-1.3.3 */
header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

/* Hero */
.hero {
    text-align: center;
    margin-bottom: 30px;
}

/* REQ-1.3.4 */
.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

/* REQ-1.3.5 */
.filtros button {
    padding: 8px 15px;
    border: 1px solid var(--color-primario);
    background-color: white;
    color: black;
    cursor: pointer;
}

.filtros button:hover,
.filtros button:focus-visible,
.filtros button.activo {
    background-color: var(--color-primario);
    color: white;
}

/* REQ-1.3.6 */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* REQ-1.3.7 y REQ-1.3.8 */
.tarjeta {
    flex: 0 0 calc(33.33% - 20px);
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.tarjeta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.tarjeta h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tarjeta p {
    margin-bottom: 10px;
}

.tags {
    font-weight: bold;
    color: var(--color-primario);
}

/* REQ-1.3.8 */
.tarjeta a {
    margin-top: auto;
    text-decoration: none;
    color: white;
    background-color: var(--color-primario);
    padding: 8px;
    text-align: center;
}

/* REQ-1.3.12 */
.tarjeta:hover {
    box-shadow: 2px 2px 5px gray;
}

footer {
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}